<div class="page-header">
  <h1>Bienvenue <%= current_user.full_name %></h1>
</div>

  <div class="row">
    <div class="col-md-6">
        <% @statuses.each do |status| %>
          <div class="panel panel-default">
            <div class="panel-body status">
              <strong><%= status.user.pseudoname %></strong>
              <p><%= status.content %></p>
              <small><%= (status.created_at).strftime("Posté le %d/%m/%g") %></small>
              <div class="admin">
                <%= link_to 'Voir', status %> | <%= link_to 'Modifier', edit_status_path(status) %> |  <%= link_to "<i class='fa fa-trash-o'></i> Supprimer".html_safe, status, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
              </div>

          </div>
          <% end %>
    </div>
    <div class="col-md-6 text-right">
      <%= link_to  new_status_path do %>
        <div class="btn btn-info btn-lg">
        <i class="fa fa-plus"></i> Nouveau
        </div>
      <% end %>
    </div>

  </div>


<br>
