<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <a class="navbar-brand" href="#">
        Treebook
      </a>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "Accueil", statuses_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
          <li><%= link_to "Deconnexion", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Se connecter", login_path %></li>
          <li><%= link_to "Créer un compte", register_path %></li>
        </ul>
      <% end %>

  </div>
</nav>
  <br>
  <br>
  <div class="container">
    <br>
    <br>
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:alert] %>
      </div>
    <% end %>

   <%= yield %>
  </div>


</body>
</html>
