<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <a class="navbar-brand" href="#">
        Treebook
      </a>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "Status", statuses_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
          <li><%= link_to "Deconnexion", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Se connecter", new_user_session_path %></li>
          <li><%= link_to "Créer un compte", new_user_registration_path %></li>
        </ul>
      <% end %>

  </div>
</nav>
  <br>
  <br>
  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
